{% extends 'loja_consulta.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
Deletar Produto
{% endblock %}

{% block content %}
    {% include 'header_principal.html' %}
    {% include 'menu.html' %}

    <!-- Conteúdo -->
    <main class="container-fluid text-center py-8 w-50">
        <div class="card p-3 border-dark">
            <h6 class="modal-title"><i class="bi bi-trash3-fill"></i>&nbsp;&nbsp; Deletar Produto</h6>
            <hr />
            <div class="text-center text-danger"><i class="bi bi-x-octagon-fill mb-4 mt-2" style="font-size: 4em;"></i></div>
            <div class="text-center text-danger">
                <span>Você tem certeza que realmente quer deletar o Produto ??</span>
                <div class="text-dark mt-3 mb-2">Produto: <strong>{{ produto.produto }}</strong></div>
            </div>
            <hr />
            <br>
            <form method="POST">
                {% csrf_token %}
                <input class="bg-red-600 py-1 px-3 text-white md:text-lg rounded-md mx-2" type="submit" value="Deletar" style="float: right;">
                <a href="{% url 'core:produtoconsulta' %}" class="bg-gray-600 py-1 px-3 text-white md:text-lg rounded-md" style="float: right;">Cancelar</a>
            </form>
        </div>
        <br><hr /><br>
        <span class="text-danger">Se você prosseguir, o registro será apagado e não poderá ser recuperado</span>
    </main>

    {% include 'footer.html' %}

{% endblock %}