{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
Cadastro de Vendas
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    {# Django Tempus Dominus assets are included in `{{ form.media }}` #}
    {{ form.media }}
{% endblock %}

{% block content %}
    {% include 'header_principal.html' %}
    {% include 'menu.html' %}
    <!-- Conteúdo -->
    <main class="container-fluid text-center py-8">
        <div class="z-10 h-full mx-20 py-32 md:py-0 text-black text-center flex items-center flex-col">
            <h2 class="text-2xl">Cadastro de Vendas</h2>
            <form method="post" autocomplete="off" autocapitalize="characters" >
                {% csrf_token %}
                <fieldset class="form-group mx-auto" style="width:500px !important;">
                    <legend class="border-bottom mb-4">Informe os campos abaixo:</legend>
                    {{ form|crispy }}
                </fieldset>
                <fieldset class="form-group" style="width:700px !important;">
                    <legend class="border-bottom mb-4">Informe os produtos da venda:</legend>
                    <table class="table">
                        <tbody>
                            {{ form_detalhe_venda.management_form|crispy }}
                            {% for fdv in form_detalhe_venda %}
                            <tr>
                                <td scope="col">{{ fdv.id|as_crispy_field }}</td>
                                <td scope="col">{{ fdv.produto|as_crispy_field }}</td>
                                <td scope="col">{{ fdv.DELETE|as_crispy_field }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </fieldset>
                <button class="bg-red-600 py-1 px-3 text-white md:text-lg rounded-md" type="submit">Salvar</button>
            </form>
        </div>
    </main>
{% include 'footer.html' %}

{% endblock %}